<link rel="stylesheet" href="nav.css">

<body>
  <!-- Navbar para normal -->
  <div class="navbar" >
    <a href="/empresa" target="_top">Inicio</a>
    <a href="/empresa/empresa.html" target="_top">Registrar Empresa</a>
    <a href="/empresa/empresa" target="_top">Revisar Empresa</a>
    <a href="/empresa/vacante.html" target="_top">Registrar Vacante</a>
    <!-- <a href="/empresa/infoe.html" target="_top">Informes</a> -->
    <a href="/" style="float:right; background-color: black;" target="_top">Salir</a>
  </div>
  <script src="nav.js"></script>
</body>

</html>