<link rel="stylesheet" href="nav.css">

<body>
  <!-- Navbar para normal -->
  <div class="navbar" >
    <a href="/postulante" target="_top">Inicio</a>
    <a href="/postulante/postulante.html" target="_top">Registrar Postulante</a>
    <a href="/postulante/postulante" target="_top">Revisar Postulante</a>
    <a href="/postulante/contrato.html" target="_top">Registrar Contrato</a>
    <a href="/" style="float:right; background-color: black;" target="_top">Salir</a>
  </div>
  <script src="nav.js"></script>
</body>

</html>